// Global layout styles

.container {
  @include outer-container;
  position: relative;
  z-index: 0;
}

.container--full {
  max-width: none;
}

.navigation-container {
  position: relative;
  z-index: 1;
}

.term-container {
  @include span-columns(6, block-collapse);
  @include media($mobile) {
    @include span-columns(12, block-collapse);
  }

  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  @include main-container-styles;
}