// Global layout styles

.container {
  @include outer-container;
}

.container--full {
  max-width: none;
}

.term-container {
  @include span-columns(6);
  @include media($mobile) {
    @include span-columns(12);
  }

  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  height: 100vh;
  margin-top: -1 * $navigation-height;
  padding-top: $navigation-height;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @include media($mobile) {
    height: 50vh;
    margin-top: 0;
    padding-top: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}