---
title: 50 Terms | Psychology Terms, Explained
---

<nav class="navigation-container">
  <ul class="navigation">
    <li class="navigation__element" ng-repeat="term in app.terms">
      <a class="navigation__link" ng-click="app.setCurrentTerm(term);">{{ term.index }}</a>
    </li>
  </ul>
</nav>

<main class="container container--full">
  <section class="term-container term-container--misconception">
    <article class="term">
      <div class="term__image" style="background-image: url('http://placehold.it/200x200');"></div>
      <h2 class="term__title">{{ app.currentTerm.title }}</h2>
      <p class="term__text">{{ app.currentTerm.text }}</p>
    </article>
  </section>

  <section class="term-container term-container--actual">
    <article class="term">
      <p class="term__text">{{ app.currentTerm.reality }}</p>
    </article>
  </section>
</main>