---
title: 50 Terms | Psychology Terms, Explained
---

<nav class="navigation-container">
  <ul class="navigation">
    <li class="navigation__element">
      <a class="navigation__link" href="">1</a>
    </li>
    <li class="navigation__element">
      <a class="navigation__link" href="">2</a>
    </li>
    <li class="navigation__element">
      <a class="navigation__link" href="">3</a>
    </li>
    <li class="navigation__element">
      <a class="navigation__link" href="">4</a>
    </li>
    <li class="navigation__element">
      <a class="navigation__link" href="">5</a>
    </li>
  </ul>
</nav>

<main class="container container--full">
  <section class="term-container term-container--misconception">
    <article class="term">
      <div class="term__image" style="background-image: url('http://placehold.it/200x200');"></div>
      <h2 class="term__title">Term Title</h2>
      <p class="term__text">Details about misconception</p>
    </article>
  </section>

  <section class="term-container term-container--actual">
    <article class="term">
      <p class="term__text">Term reality</p>
    </article>
  </section>
</main>